*{
  background-color: #121212;
  color: white;
  font-size: 1.3rem;
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
}

button:hover{
  cursor: pointer;
}


button{
  border: none;
  background-color: mediumvioletred;
  color: white;
  padding: 10px 16px;
  font-size: 1rem;
  font-family: yoon-px-pixelbatang, sans-serif;
  border: solid mediumvioletred 4px;
}

button:active{
  border-left: solid px ivory;
  border-top: solid 1px ivory;
  padding-bottom: 9px;
  padding-left: 15px;
}

input[type="text"]{
  border: solid mediumvioletred 4px;
  padding: 10px 16px;
  margin-bottom: 13px;
  max-width: 90vw;
  width: 80vw;
  font-family: yoon-px-pixelbatang, sans-serif;
}

input:focus{
  color: mediumviolered;
}

input::placeholder{
  font-weight: 100;
  color: white;
  font-family: yoon-px-pixelbatang, sans-serif;
}

.checkVerbButton{
  padding: 17px;
  margin-left: 15px;
  transition-duration: 100ms;
  height: 63px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.checkVerbButton:hover{
  background-color: purple;
}

.checkVerbButton:active{
  border: none;
}

[lang="de"]{
  font-family: cofo-sans-pixel, sans-serif;
  font-weight: 900;
}

[lang="ko"]{
  font-family: yoon-px-pixelbatang, sans-serif;
  font-weight: 900;
}

input:active{
  border-style: none;
}