* {
  background-color: #121212;
  color: white;
  font-size: 1.3rem; /* Default font size */
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
}

button:hover {
  cursor: pointer;
  background-color: purple;
  border: solid purple 4px;
}

button {
  background-color: mediumvioletred;
  color: white;
  font-size: 1rem; /* Default font size */
  font-family: yoon-px-pixelbatang, sans-serif;
  border: solid mediumvioletred 4px;
}

button:active {
background-color: transparent;
color: mediumvioletred;
border: solid 4px transparent;
}

input[type="text"] {
  border: solid mediumvioletred 4px;
  padding: 10px 16px; /* Default padding */
  margin-bottom: 13px;
  max-width: 100%;
  width: 100%;
  font-family: yoon-px-pixelbatang, sans-serif;
  outline: none;
}

input:focus {
  color: mediumvioletred; /* Fixed typo */
}



[lang="de"] {
  font-family: cofo-sans-pixel, sans-serif;
  font-weight: 900;
}

[lang="ko"] {
  font-family: yoon-px-pixelbatang, sans-serif;
  font-weight: 900;
}

/* Media query for mobile screens */
@media (max-width: 600px) {
  * {
    font-size: 1rem; /* Adjusted font size for mobile */
  }

  input[type="text"] {
    padding: 8px 12px; /* Adjusted padding for mobile */
    font-size: 0.875rem; /* Adjusted font size for mobile */
  }


}
